<div class="avatar">
  <img class="image" src="{{avatar}}">
</div>
<h2 class="title">{{name}}</h2>
<h3 class="headline">
  <span class="sub-headline">{{subHeadline}}</span> {{headline}}
</h3>
{{fa-icon icon=cardIcon class="flair"}}