<h2 class="title">Specifications</h2>
<!-- workload -->
{{comparison-row title="Workload" left=prospect.workload right=job.workload}}
<!-- work week -->
{{comparison-row title="Work Week" left=prospect.workWeek right=job.workWeek}}
<!-- schedule -->
{{comparison-row title="Schedule" left=prospect.schedule right=job.schedule}}
<!-- remote -->
{{comparison-row title="Remote" left=prospect.remote right=job.remote}}
<!-- pto -->
{{comparison-row title="PTO" left=prospect.pto right=job.pto}}