<span class="left {{classType}}">{{component displayComponent data=left}}</span>
<span class="title {{classType}}">{{title}}</span>
<span class="right {{classType}}">{{component displayComponent data=right}}</span>