<div class="icon-placeholder"></div>
<div class="row">
  <!-- New Features -->
  {{profile-chart-item title="New Features" class="item-1" percent=profile.newFeatures}}
  <!-- client support -->
  {{profile-chart-item title="Client Support" class="item-2" percent=profile.clientSupport}}
  <!-- documentation -->
  {{profile-chart-item title="Documentation" class="item-3" percent=profile.documentation}}
  <!-- maintenance -->
  {{profile-chart-item title="Maintenance" class="item-4" percent=profile.maintenance}}
  <!-- meetings -->
  {{profile-chart-item title="Meetings" class="item-5" percent=profile.meetings}}
</div>
<!-- icon -->
{{profile-chart-icon display=display}}