<div class="info-cards">
  <!-- Prospect Card -->
  {{#if model.fileError}}
    {{card-info name="Unknown Profile" headline="" avatar=""}}
  {{else}}
    {{card-info name=model.name headline=model.headline avatar=model.avatar}}
  {{/if}}
  <!--Match Rating -->
  {{match-rating matchPercent=model.matchPercent}}
  <!-- Employer Card -->
  {{card-info name=job.companyName headline=job.headline avatar=job.avatar isEmployer=true}}
</div>

<!-- Essentials -->
{{card-essentials jobEssentials=job.essentials prospectEssentials=model.essentials}}
<!-- Essentials -->
{{card-methodology jobMethod=job.methodology prospectMethod=model.methodology}}
<!-- Specification -->
{{card-specifications jobSpecs=job.specifications prospectSpecs=model.specifications}}
<!-- Profile -->
{{card-profile jobProfile=job.profile prospectProfile=model.profile}}
<!-- Equipment -->
{{card-equipment jobEquipment=job.equipment prospectEquipment=model.equipment}}
<!-- technologies -->
{{card-technologies jobTechs=job.technologies prospectTechs=model.technologies}}

<!-- outlet -->
{{outlet}}

<!-- Footer -->
{{footer-element matchPercent=model.matchPercent}}